fastapi 
httpx 
langchain_core 
langchain_groq 
langchain_huggingface 
langchain_pinecone 
langchain_text_splitters 
langgraph 
python-dotenv 
"unstructured[pdf]" 
unstructured-inference 
google-genai 
sentence-transformers

# pip install -r requirements.txt